<!-- newsletter Grid -->
<section class="page-section" id="{{ site.data.sitetext.newsletter.section | default: "newsletter" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.newsletter.title | markdownify | default: "newsletter" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.newsletter.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      {% for project in site.newsletter %}
      <div class="col-md-4 col-sm-6 newsletter-item">
        <a class="newsletter-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="newsletter-hover">
            <div class="newsletter-hover-content">
              <i class="{{ site.data.style.newsletter-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="newsletter-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>




  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Inscrivez-vous à la newsletter!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="contactForm"
          action="https://formspree.io/{% if site.formspree_form_path %}{{ site.formspree_form_path }}{% else %}{{ site.email }}{% endif %}"
          novalidate="novalidate" method="POST">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="_replyto" class="form-control" id="email" type="email" placeholder="Email*"
                  required="required" data-validation-required-message="Merci d'entrer votre e-mail.">
                <p class="help-block text-danger"></p>
              </div>
  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Envoyer
                    !</button>
                </div>
                <input type="text" name="_gotcha" style="display:none">
                <input type="hidden" name="_next" value="#" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</section>
{% include modals.html %}