<!-- Team -->
<section class="bg-light page-section" id="{{ site.data.sitetext.team.section | default: " team" }}">
	<div class="container">
		<div class="layout-page">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="section-heading">{{ site.data.sitetext.team.title | markdownify | default:
						"accompagnement"
						}}</h2>
					<h3 class="section-subheading">{{ site.data.sitetext.team.text }}</h3>

					<h2 class="section-heading">{{ site.data.sitetext.accompagnement.title2 | markdownify | default:
						"accompagnement" }}</h2>
					<ul class=accompagnement-list>
						<li>Je m’engage à vous accueillir dans un environnement calme et serein facilitant le développement de la créativité, de l’innovation et de la collaboration.</li>
						<li>Je garantis la confidentialité des échanges, la responsabilité des décisions à la personne accompagnée.</li>
						<li>J’œuvre à la poursuite du développement de mes compétences et je suis supervisée par Christèle Heurlin.</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End Team -->