@charset "UTF-8";
body { overflow-x: hidden; }

p { line-height: 0.8; }

a { color: #bfb290; }

a:hover { color: #ac9c70; }

.text-primary { color: #bfb290 !important; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

.page-section { padding: 100px 0; }

.page-section h2.section-heading { margin-left: 50px; font-size: xx-large; font-weight: 800; margin-top: 0; margin-bottom: 25px !important; line-height: 1.75; }

.page-section h3.section-subheading { margin-left: 50px; margin-top: 35px; font-size: x-large; font-weight: 400; color: black; margin-bottom: 75px; text-transform: none; line-height: 1.5; }

@media (min-width: 768px) { section { padding: 150px 0; } }

::-moz-selection { background: #bfb290; text-shadow: none; }

::selection { background: #bfb290; text-shadow: none; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

.btn { font-weight: 700; }

.btn-xl { font-size: 18px; padding: 20px 40px; }

.btn-primary { background-color: #bfb290; border-color: #bfb290; }

.btn-primary:active, .btn-primary:focus, .btn-primary:hover { background-color: #b1a178 !important; border-color: #b1a178 !important; color: white; }

.btn-primary:active, .btn-primary:focus { box-shadow: 0 0 0 0.2rem #967e72 !important; }

#mainNav { background-color: #967e72; }

#mainNav .navbar-toggler { font-size: 12px; right: 0; padding: 13px; text-transform: uppercase; color: #bfb290; border: 0; background-color: #bfb290; }

#mainNav .navbar-brand { color: #bfb290; }

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: #ac9c70; }

#mainNav .navbar-nav .nav-item .nav-link { font-size: 90%; font-weight: 400; padding: 0.75em 0; letter-spacing: 1px; color: black; }

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover { color: #bfb290; }

@media (min-width: 992px) { #mainNav { padding-top: 25px; padding-bottom: 25px; -webkit-transition: padding-top 0.3s, padding-bottom 0.3s; -moz-transition: padding-top 0.3s, padding-bottom 0.3s; transition: padding-top 0.3s, padding-bottom 0.3s; border: none; background-color: transparent; } #mainNav .navbar-brand { font-size: 1.75em; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; } #mainNav .navbar-nav .nav-item .nav-link { padding: 1.1em 1em !important; } #mainNav.navbar-shrink { padding-top: 0; padding-bottom: 0; background-color: #967e72; } #mainNav.navbar-shrink .navbar-brand { font-size: 1.25em; padding: 12px 0; } }

#scrolling-clients { display: flex; flex-wrap: nowrap; overflow-x: auto; overflow-y: hidden; }

#col-md-3 col-sm-6 { flex: 0 0 auto; }

header.masthead { text-align: center; background-image: url("../img/header.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; background-size: cover; }

header.masthead .intro-text { padding-bottom: 200px; }

header.masthead .intro-text .intro-lead-in { color: black; padding-top: 10px; font-size: 33px; line-height: 33px; margin-bottom: 25px; }

header.masthead .intro-text .intro-heading { color: #9a8377; padding-top: 150px; font-style: italic; font-size: 14px; font-weight: 700; line-height: 14px; margin-bottom: 25px; }

@media (min-width: 768px) { header.masthead .intro-text { padding-bottom: 200px; } header.masthead .intro-text .intro-lead-in { color: black; padding-top: 150px; font-size: 60px; line-height: 60px; margin-bottom: 25px; } header.masthead .intro-text .intro-heading { color: #9a8377; padding-top: 150px; font-style: italic; font-size: 20px; font-weight: 700; line-height: 20px; margin-bottom: 50px; } }

#accompagnement { background-image: url("../img/accompagnement.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; background-size: cover; }

.layout-page { padding-left: 15%; }

.layout-page ul.accompagnement-list { list-style: none; font-size: x-large; }

.layout-page span { color: #937f73; font-weight: 800; }

.layout-page ul li::before { content: "•"; font-size: 35pt; color: #967e72; display: inline-block; width: 0.8em; line-height: 1em; }

.layout-page .accompagnement-item { right: 0; margin: 0 0 15px; }

.layout-page .accompagnement-item .accompagnement-link { position: relative; display: block; max-width: 400px; margin: 0 auto; cursor: pointer; }

.layout-page .accompagnement-item .accompagnement-link .accompagnement-hover { position: absolute; width: 100%; height: 100%; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; transition: all ease 0.5s; opacity: 0; background: rgba(191, 178, 144, 0.9); }

.layout-page .accompagnement-item .accompagnement-link .accompagnement-hover:hover { opacity: 1; }

.layout-page .accompagnement-item .accompagnement-link .accompagnement-hover .accompagnement-hover-content { font-size: 20px; position: absolute; top: 50%; width: 100%; height: 20px; margin-top: -12px; text-align: center; color: white; }

.layout-page .accompagnement-item .accompagnement-link .accompagnement-hover .accompagnement-hover-content i { margin-top: -12px; }

.layout-page .accompagnement-item .accompagnement-link .accompagnement-hover .accompagnement-hover-content h3, .layout-page .accompagnement-item .accompagnement-link .accompagnement-hover .accompagnement-hover-content h4 { margin: 0; }

.layout-page .accompagnement-item .accompagnement-caption { max-width: 400px; margin: 0 auto; padding: 25px; text-align: center; background-color: #fff; }

.layout-page .accompagnement-item .accompagnement-caption h4 { margin: 0; text-transform: none; }

.layout-page .accompagnement-item .accompagnement-caption p { font-size: 16px; font-style: italic; margin: 0; }

.layout-page * { z-index: 2; }

@media (min-width: 767px) { #accompagnement .accompagnement-item { margin: 0 0 30px; } }

.accompagnement-modal .modal-dialog { margin: 1rem; max-width: 100vw; }

.accompagnement-modal .modal-content { height: 95vh; padding: 100px 0; background-repeat: no-repeat; background-attachment: scroll; background-position: 0% 95%; background-size: cover; }

.accompagnement-modal .modal-content h2 { font-size: 3em; margin-bottom: 15px; }

.accompagnement-modal .modal-content p { line-height: 150%; margin-bottom: 30px; }

.accompagnement-modal .modal-content p.item-intro { font-size: 16px; font-style: italic; margin: 20px 0 30px; }

.accompagnement-modal .modal-content ul.list-inline { margin-top: 0; margin-bottom: 30px; }

.accompagnement-modal .modal-content img { margin-bottom: 30px; }

.accompagnement-modal .modal-content button { cursor: pointer; }

.accompagnement-modal .close-modal { position: absolute; top: 25px; right: 25px; width: 75px; height: 75px; cursor: pointer; background-color: transparent; }

.accompagnement-modal .close-modal:hover { opacity: 0.3; }

.accompagnement-modal .close-modal .lr { /* Safari and Chrome */ z-index: 1051; width: 1px; height: 75px; margin-left: 35px; /* IE 9 */ -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); background-color: #212529; }

.accompagnement-modal .close-modal .lr .rl { /* Safari and Chrome */ z-index: 1052; width: 1px; height: 75px; /* IE 9 */ -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); background-color: #212529; }

#content br { display: none; }

#content p br { display: inline; }

.quote { font-style: italic; text-align: center; margin-left: 40%; margin-bottom: 10px; font-size: large; font-weight: bolder; }

#boxes { margin-left: 10%; }

#newsletter .newsletter-item { right: 0; margin: 0 0 15px; }

#newsletter .newsletter-item .newsletter-link { position: relative; display: block; max-width: 400px; margin: 0 auto; cursor: pointer; }

#newsletter .newsletter-item .newsletter-link .newsletter-hover { position: absolute; width: 100%; height: 100%; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; transition: all ease 0.5s; opacity: 0; background: rgba(191, 178, 144, 0.9); }

#newsletter .newsletter-item .newsletter-link .newsletter-hover:hover { opacity: 1; }

#newsletter .newsletter-item .newsletter-link .newsletter-hover .newsletter-hover-content { font-size: 20px; position: absolute; top: 50%; width: 100%; height: 20px; margin-top: -12px; text-align: center; color: white; }

#newsletter .newsletter-item .newsletter-link .newsletter-hover .newsletter-hover-content i { margin-top: -12px; }

#newsletter .newsletter-item .newsletter-link .newsletter-hover .newsletter-hover-content h3, #newsletter .newsletter-item .newsletter-link .newsletter-hover .newsletter-hover-content h4 { margin: 0; }

#newsletter .newsletter-item .newsletter-caption { max-width: 400px; margin: 0 auto; padding: 25px; text-align: center; background-color: #fff; }

#newsletter .newsletter-item .newsletter-caption h4 { margin: 0; text-transform: none; }

#newsletter .newsletter-item .newsletter-caption p { font-size: 16px; font-style: italic; margin: 0; }

#newsletter * { z-index: 2; }

@media (min-width: 767px) { #newsletter .newsletter-item { margin: 0 0 30px; } }

.newsletter-modal .modal-dialog { margin: 1rem; max-width: 100vw; }

.newsletter-modal .modal-content { padding: 100px 0; text-align: center; }

.newsletter-modal .modal-content h2 { font-size: 3em; margin-bottom: 15px; }

.newsletter-modal .modal-content p { margin-bottom: 30px; }

.newsletter-modal .modal-content p.item-intro { font-size: 16px; font-style: italic; margin: 20px 0 30px; }

.newsletter-modal .modal-content ul.list-inline { margin-top: 0; margin-bottom: 30px; }

.newsletter-modal .modal-content img { margin-bottom: 30px; }

.newsletter-modal .modal-content button { cursor: pointer; }

.newsletter-modal .close-modal { position: absolute; top: 25px; right: 25px; width: 75px; height: 75px; cursor: pointer; background-color: transparent; }

.newsletter-modal .close-modal:hover { opacity: 0.3; }

.newsletter-modal .close-modal .lr { /* Safari and Chrome */ z-index: 1051; width: 1px; height: 75px; margin-left: 35px; /* IE 9 */ -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); background-color: #212529; }

.newsletter-modal .close-modal .lr .rl { /* Safari and Chrome */ z-index: 1052; width: 1px; height: 75px; /* IE 9 */ -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); background-color: #212529; }

.enso { padding: 150px 0; margin-left: 50px; writing-mode: vertical-rl; text-orientation: mixed; transform: rotate(-180deg); font-size: 140pt; float: left; }

#preface { background-image: url("../img/preface.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; background-size: cover; }

#preface h2 { margin-top: 150px; }

#preface h3 { margin-bottom: 400px; }

#preface h3 strong { margin-top: 300px; }

section#contact { background-color: #87aa8e; background-image: url("../img/contact.png"); background-repeat: no-repeat; background-position: center; }

section#contact .section-heading { color: #fff; }

section#contact .form-group { margin-bottom: 25px; }

section#contact .form-group input, section#contact .form-group textarea { padding: 20px; }

section#contact .form-group input.form-control { height: auto; }

section#contact .form-group textarea.form-control { height: 248px; }

section#contact .form-control:focus { border-color: #bfb290; box-shadow: none; }

section#contact ::-webkit-input-placeholder { font-weight: 700; color: #ced4da; }

section#contact :-moz-placeholder { font-weight: 700; color: #ced4da; }

section#contact ::-moz-placeholder { font-weight: 700; color: #ced4da; }

section#contact :-ms-input-placeholder { font-weight: 700; color: #ced4da; }

.footer { padding: 25px 0; text-align: center; }

.footer span.copyright { font-size: 90%; line-height: 40px; text-transform: none; }

.footer ul.quicklinks { font-size: 90%; line-height: 40px; margin-bottom: 0; text-transform: none; }

ul.social-buttons { margin-bottom: 0; }

ul.social-buttons li a { font-size: 20px; line-height: 50px; display: block; width: 50px; height: 50px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: white; border-radius: 100%; outline: none; background-color: #212529; }

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover { background-color: #bfb290; }

/*# sourceMappingURL=agency.css.map */