// Styling for the masthead
header.masthead {
  text-align: center;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  .intro-text {
    padding-bottom: 75px;
    .intro-lead-in {
      color: black;
      padding-top: 150px;
      font-size: 33px;
      line-height: 33px;
      margin-bottom: 25px;
    }
    .intro-heading {
      color: #9a8377;
      padding-top: 150px;
      font-style: italic;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      margin-bottom: 25px;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-bottom: 200px;
      .intro-lead-in {
        color: black;
        padding-top: 150px;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 25px;
      }
      .intro-heading {
        color: #9a8377;
        padding-top: 150px;
        font-style: italic;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 50px;
      }
    }
  }
}