.enso{
  padding: 150px 0;
  margin-left: 50px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  font-size: 140pt;
  float: left;
}
#timeline{
  background-image: url("../img/timeline.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  h2{ 
    margin-top: 150px;
  }
  h3{
    margin-bottom: 400px;
  }
}
