// Global styling for this template
body {
  overflow-x: hidden;
}

p {
  line-height: 0.8;
}


a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 110%;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1.5% !important;
    line-height: 1.75;
  }
  h3.section-subheading {
    font-size: 105%;
    font-weight: 400;
    color: black;
    margin-bottom: 2%;
    text-transform: none;
    line-height: 1.5;
  }
}
@media(min-width:768px) {
  .page-section {
    h2.section-heading {
    margin-left: 50px;
      font-size: 175%;
    }
    h3.section-subheading {
    margin-left: 50px;
    margin-top: 35px;
      font-size: 150%;
    }
  }
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $second;
  text-shadow: none;
}

::selection {
  background: $second;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

